.page__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

@media (min-width: 800px) {
  .page__header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
